*{
    margin: 0;
    font-style: arial;
    box-sizing: border-box;
    background-color: #E3E6E6;
}

/* NAVIGATION BAR */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 130px;
    position: relative;
    background-color: #0f1111;
    color: white;
}

.logo{
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 130px;
    position: absolute;
    top: -20%;
    background-color: #0f1111;
    color: white;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

/* box 2 */

.nav-address{
    background-color: #0f1111;
    color: white;
}
.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
    margin-top: 5px;
    background-color: #0f1111;
    color: white;
}

.add-second{
    color: white;
    background-color: #0f1111;
    color: white;
}

.speacial{
    background-color: #0f1111;
    color: white;
}

.add-icon{
    display: flex;
    gap: 6px;
    background-color: #0f1111;
    color: white;
}

/* box-3 */
.nav-search{
    display: flex;
    background-color: #f3A847;
    justify-content: space-evenly;
    width: 780px;
    height: 40px;
    border: none;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.nav-search:hover{
    border: 3px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    border: none;
    width: 60px;
    text-align: center;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    background-color: #f3A847;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.back{
    background-color: #f3A847;
    color: #0f1111;
}

/* box-4 */
.language-selector{
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flag-icon{
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 55%;
    bottom: 10%;
}

#language-dropdown{
    background: none;
    color: white;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    position: absolute;
    right: 0;
    bottom: 0.5rem;
}

/* box-5&6 */
span{
    font-size: 12px;
    font-weight: 600;
}

.nav-second{
    font-size: 15px;
    font-weight: 600;

}

/* box-7 */
.nav-cart{
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    width: 80px;
}

#shopcart{
    font-size: 2rem;
    position: absolute;
}

.cartfont{
    font-size: 1.3rem;
    position: absolute;
    right: 10%;
}

/* MAIN PANEL */
.panel{
    background-color: #232F3E;
    height: 37px;
    display: flex;
    color: white;
    position: relative;
}

#menu{
    font-size: 1.2rem;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 80px;
    gap: 0.3rem;
}

.today-deal{
    height: 35px;
    width: 100px;
    font-size: 1.01rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 525;
}

.customer{
    height: 35px;
    width: 130px;
    font-size: 1.0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 525;
}

.registry{
    height: 35px;
    width: 60px;
    font-size: 1.0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 525;
}

.gift{
    height: 35px;
    width: 80px;
    font-size: 1.0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 525;
}

.sell{
    height: 35px;
    width: 40px;
    font-size: 1.0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 525;
}

.shopdeal{
    height: 35px;
    width: 200px;
    position: absolute;
    font-size: 1.2rem;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speacialpanel{
    background-color: #232F3E;
    color: white;
}

/* home section */

.hero-section{
    height: 200rem;
    width: 100%;
    position: relative;

}
.hero-image{
    height: 25rem;
    width: 100%;
    position: absolute;
    background-image: url("./images/hero_content.jpg");
    background-size: cover;
}

/* shop section */
.shop-section{
    height: 150rem;
    width: 100%;
    top: 25rem;
    background-image: linear-gradient(to bottom, #FBF1E7, #E3E6E6);
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
}

.shop-section-2{
    height: 150rem;
    width: 100%;
    top: 52rem;
    background-image: linear-gradient(to bottom, #FBF1E7, #E3E6E6);
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

.box{
    padding: 1rem;
}
.box h2{
    background-color: white;
    font-size: 1.6rem;
} 

.box-1-image-1and2{
    height:17rem;
    width: 100%;
    position: relative;
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 1rem;
}

.seemore{
    background-color: white;
}