*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    background-image: linear-gradient(-90deg, #1CB5E0 , #000851);
}

.container{
    width: 90%;
    padding: 9rem 15rem ;
    font-size: 25px;
}

h1{
    color: white;
    letter-spacing: 1px;
}

span{
    color: #009F55;
    border-bottom: 3px solid #009F55;

}
.display{
    width: 60%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.display img{
    width: 40px;
    cursor: pointer;
    padding: 8px;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 20px;
    flex: 1;
}

.button{
    width: 20%;
    background-color: #009F55;
    display: flex;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button img{
    width: 35px;
    padding: 8px;
    margin-left: 5px;
}

.button button{
    background-color: #009F55;
    border: 0;
    color: white;
    outline: 0;
    margin-left: 6px;
    cursor: pointer;
}