* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
h1{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 3rem;
}
.choice{
    height: 240px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    transition: transform 0,2s ease, box-shadow 0.2s ease, filter 0.2s ease;
    cursor: pointer;
    -webkit-transition: transform 0,2s ease, box-shadow 0.2s ease, filter 0.2s ease;
    -moz-transition: transform 0,2s ease, box-shadow 0.2s ease, filter 0.2s ease;
    -ms-transition: transform 0,2s ease, box-shadow 0.2s ease, filter 0.2s ease;
    -o-transition: transform 0,2s ease, box-shadow 0.2s ease, filter 0.2s ease;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: high-quality;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
img:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    opacity: 0.8;   
}

#user-score, #comp-score{
    font-size: 4rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
}
.score{
    text-align: center;
}

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 3rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 0.8rem;
}