*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clockContainer{
    height: 40vw;
    width: 40vw;
    background: url(./images/clock.png) ;
    background-size: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-top: 2.5vw;
    position: relative;
}

#hour, #minute, #second{
    position: absolute;
    transform-origin: bottom;
}

#hour{
    height: 23%;
    width: 2.5%;
    top:27.15%;
    left:48.6%;
    background: black;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

#minute{
    height: 35%;
    width: 1.5%;
    top:15%;
    left:49.06%;
    background: black;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

#second{
    height: 40%;
    width: 1%;
    top:10%;
    left:49.3%;
    background: black;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}