@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 5rem;
    gap: 30rem;
}

.left h1{
    font-size: 2.5rem;
    cursor: pointer;
}

.right ul{
    display: flex;
    list-style: none;
}

.right ul li a{
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
}

.right ul li a:hover{
    background-color:  white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: black;
}
